src/main/xsd/schema-entsoe.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:iec62325.351:tc57wg16:451-6:outagedocument:3:0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Unavailability_MarketDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="mRID" type="xs:string" />
        <xs:element name="revisionNumber" type="xs:unsignedByte" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="process.processType" type="xs:string" />
        <xs:element name="createdDateTime" type="xs:dateTime" />
        <xs:element name="sender_MarketParticipant.mRID">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="codingScheme" type="xs:string" use="required" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="sender_MarketParticipant.marketRole.type" type="xs:string" />
        <xs:element name="receiver_MarketParticipant.mRID">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="codingScheme" type="xs:string" use="required" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="receiver_MarketParticipant.marketRole.type" type="xs:string" />
        <xs:element name="unavailability_Time_Period.timeInterval">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="start" type="xs:string" />
              <xs:element name="end" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="docStatus">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="value" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TimeSeries">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="mRID" type="xs:unsignedByte" />
              <xs:element name="businessType" type="xs:string" />
              <xs:element name="in_Domain.mRID">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="codingScheme" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="out_Domain.mRID">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="codingScheme" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="start_DateAndOrTime.date" type="xs:date" />
              <xs:element name="start_DateAndOrTime.time" type="xs:time" />
              <xs:element name="end_DateAndOrTime.date" type="xs:date" />
              <xs:element name="end_DateAndOrTime.time" type="xs:time" />
              <xs:element name="quantity_Measure_Unit.name" type="xs:string" />
              <xs:element name="curveType" type="xs:string" />
              <xs:element name="Asset_RegisteredResource">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="mRID">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="codingScheme" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="name" type="xs:string" />
                    <xs:element name="asset_PSRType.psrType" type="xs:string" />
                    <xs:element name="location.name" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Available_Period">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="timeInterval">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="start" type="xs:string" />
                          <xs:element name="end" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="resolution" type="xs:duration" />
                    <xs:element maxOccurs="unbounded" name="Point">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="position" type="xs:unsignedByte" />
                          <xs:element name="quantity" type="xs:unsignedShort" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Reason">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="code" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>